# Ignore Node.js dependencies
node_modules/

# Ignore local environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build artifacts
/dist/
/build/
